*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: beige;
}

.parent-box{
  width: 40%;
  min-width: 590px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}

.container{
  width: 100%;
  padding: 30px 30px 50px;
  background: linear-gradient(450deg, darkblue, black);
  border: 2px solid rgb(0, 0, 0, 0.06);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.container *{
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
  font-weight: 500;
}

h2{
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}

.skills:not(:last-child){
  margin-bottom: 30px;
}

.details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.menu{
  position: relative;
  border: 1px solid cyan;
  border-radius: 20px;
}

.menu div{
  position: relative;
  width: 0;
  height: 8px;
  border-radius: 10px;
  background-color: cyan;
}

/* animation */

#html-menu{
  animation: html-bar 2s forwards;
}

@keyframes html-bar{
  100%{
    width: 90%;
  }
}

#css-menu{
  animation: css-bar 2s forwards;
}

@keyframes css-bar{
  100%{
    width: 80%;
  }
}

#python-menu{
  animation: python-bar 2s forwards;
}

@keyframes python-bar{
  100%{
    width: 95%;
  }
}

#js-menu{
  animation: js-bar 2s forwards;
}

@keyframes js-bar{
  100%{
    width: 30%;
  }
}

#express-menu{
  animation: express-bar 2s forwards;
}

@keyframes express-bar{
  100%{
    width: 40%;
  }
}